@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$color-cam: #fc846b;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$font-playfair: "Playfair Display", serif;
$font-playfair-noSan: "Playfair Display";
$font-pop: "Poppins", sans-serif;
$font-pop-noSan: "Poppins";
$font-roboto: "Roboto", sans-serif;
$font-playupdate: "Playfair Display SC", serif;

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 12px 50px;
    background-color: #373737;
    color: #fc846b;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-pop-noSan;
    font-weight: bold;
    cursor: pointer;
}
.btn-rouded {
    border-radius: 60px;
}
.btn-shopnow {
    width: 220px;
    height: 55px;
    font-size: 20px;
    margin-top: 20px;
    transition: transform 0.5s;
}
.btn-shopnow:hover {
    background-color: #fc846b;
    color: white;
    // -ms-transform: scale(1.5); /* IE 9 */
    // -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}
hr {
    width: 90px;
    border: 1px solid #fc846b;
    background-color: #fc846b;
}
body {
    position: relative;
}

/* Begin Wrapper*/
/* .wrapper {
    width: 100%;
    height: 1004px;

    .background {
        width: 100%;
        height: 794px;
        position: absolute;
    }
    .header {
        position: relative;
        width: 100%;
        // padding : 18px 0;

        .header__nav {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 40px 0;

            .header__left {
                display: flex;
                width: 1100px;
                .header__left--logo {
                    width: 200px;
                    cursor: pointer;
                    img {
                        width: 170px;
                    }
                }
                .header__left--menu {
                    width: 800px;
                    ul.menu-list {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .menu-item {
                            margin-left: 25px;
                            padding: 18px 55px;
                            cursor: pointer;
                            position: relative;

                            .parentLink {
                                font-size: 20px;
                                color: #2e2e2e;
                                font-weight: bold;
                                font-family: $font-pop;
                            }
                            .sub-menu {
                                display: none;
                                position: absolute;
                                margin-top: 50px;

                                .sub-menuItem {
                                    .subLink {
                                        font-weight: normal;
                                        color: #373737;
                                    }
                                    .subLink:hover {
                                        color: #fc846b;
                                        transition: color 0.5s;
                                        text-decoration: none;
                                    }
                                }

                                #line-subMenu {
                                    border: 0.5px solid #e9e9e9;
                                    width: 200px;
                                    margin: auto;
                                    margin-left: -1px;
                                    margin: 5px 0;
                                }
                            }
                        }
                        .menu-item:hover .sub-menu {
                            display: block;
                            width: 250px;
                            background-color: $color-white;
                            border: 1px solid #9e9e9e;
                            padding: 10px 12px 10px 12px;
                            font-weight: normal;
                            margin-top: 10px;
                        }

                        .active {
                            color: #fc846b;
                            transform: 0.5s;
                        }
                        .parentLink:hover {
                            color: #fc846b;
                            text-decoration: none;
                            transition: color 0.2s;
                        }
                    }
                }
            }
            .header__right {
                width: 300px;
                display: flex;

                justify-content: space-between;
                align-items: center;
                img {
                    width: 10%;
                    margin-left: 102px;
                    margin-right: 5px;
                }
                p {
                    margin-right: -13px;
                    margin-bottom: 0;
                    color: rgb(0, 0, 0);
                }
                i {
                    font-size: 22px;
                    padding: 0 5px;
                }
            }
        }
        .header__title {
            position: relative;
            margin-top: 135px;
            width: 610px;
            margin-left: 90px;
            .header__title--name {
                width: 100%;
                h3 {
                    font-size: 24px;
                    font-family: $font-pop-noSan;
                    color: rgb(46, 46, 46);
                }
            }
            .header__title--slogan {
                width: 100%;

                h2 {
                    font-size: 72px;
                    font-family: $font-playfair-noSan;
                    margin-bottom: 18px;
                    font-weight: 500;
                    color: #fc846b;
                }
            }
            .header__title--des {
                width: 100%;
                font-size: 18px;
                font-family: $font-pop-noSan;
                margin: 10px 0px 20px;
                color: rgb(46, 46, 46);
            }
            .header__title--action {
            }
        }
    }
} */
/* End Wrapper*/

/* Begin Wrapper*/
.wrapper {
    .header {
        position: relative;
        width: 100%;
        // padding : 18px 0;

        .header__nav {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 40px 0;

            .header__left {
                display: flex;
                width: 800px;
                .header__left--logo {
                    width: 150px;
                    cursor: pointer;
                    img {
                        width: 170px;
                    }
                }
                .header__left--menu {
                    width: 800px;
                    margin-left: 50px;
                    ul.menu-list {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .active {
                            color: #fc846b;
                            transform: 0.5s;
                        }
                        .menu-item {
                            margin-left: 25px;
                            padding: 18px 30px;
                            cursor: pointer;
                            position: relative;

                            .parentLink {
                                font-size: 20px;
                                color: #2e2e2e;
                                font-weight: bold;
                                font-family: $font-pop;
                            }
                            .parentLink:hover {
                                color: #fc846b;
                                text-decoration: none;
                                transition: color 0.2s;
                            }
                            .sub-menu {
                                display: none;
                                position: absolute;
                                margin-top: 50px;

                                .sub-menuItem {
                                    width: 200px;
                                    height: 60px;
                                    transform-origin:50% 0;
                                    transform:perspective(350px) rotateX(-90deg) ;
                                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                                    background-color: $color-white;
                                    color: $color-black;
                                    
                                    .subLink {
                                        font-family: $font-pop-noSan;
                                        font-weight: normal;
                                        color: #373737;
                                        line-height: 60px;
                                        margin-left: 25px;
                                    }
                                    .subLink:hover {  
                                        transition: color 0.5s;
                                        text-decoration: none;
                                        
                                    }
                                }
                                .sub-menuItem:hover{
                                    background-color: $color-cam;
                                    color: $color-black;
                                }

                                // #line-subMenu {
                                //     border: 0.5px solid #e9e9e9;
                                //     width: 200px;
                                //     margin: auto;
                                //     margin-left: -1px;
                                //     margin: 5px 0;
                                // }
                            }
                            .sub-menu:hover .sub-menuItem{                             
                                transform: perspective(350px) rotateX(0deg);
                                transition: 0.2s;
                            }
                            .sub-menu:hover .sublink-1{
                                transition-delay: 0.2s;
                            }
                            .sub-menu:hover .sublink-2{
                                transition-delay: 0.4s;
                            }
                            .sub-menu:hover .sublink-3{
                                transition-delay: 0.6s;
                            }
                            .sub-menu:hover .sublink-4{
                                transition-delay: 0.8s;
                            }
                            
                        }
                        .menu-item:hover .sub-menu {
                            display: block;
                            width: 250px;
                            // background-color: $color-white;
                            // border: 1px solid #9e9e9e;
                            // padding: 10px 12px 10px 12px;
                            font-weight: normal;
                            margin-top: 10px;
                            
                        }
                    }
                }
            }
            .header__right {
                width: 300px;
                display: flex;

                justify-content: space-between;
                align-items: center;
                img {
                    width: 10%;
                    margin-left: 102px;
                    margin-right: 5px;
                }
                p {
                    margin-right: -13px;
                    margin-bottom: 0;
                    color: rgb(0, 0, 0);
                }
                i {
                    font-size: 22px;
                    padding: 0 5px;
                }
            }
        }
        .header__title {
            position: relative;
            margin-top: 135px;
            width: 610px;
            margin-left: 90px;
            .header__title--name {
                width: 100%;
                h3 {
                    font-size: 22px;
                    font-family: $font-pop-noSan;
                    color: rgb(46, 46, 46);
                }
            }
            .header__title--slogan {
                width: 100%;

                h2 {
                    font-size: 40px;
                    font-family: $font-playfair-noSan;
                    margin-bottom: 18px;
                    font-weight: 500;
                    color: #fc846b;
                }
            }
            .header__title--des {
                width: 90%;
                font-size: 16px;
                font-family: $font-pop-noSan;
                margin: 10px 0px 20px;
                color: rgb(46, 46, 46);
            }
            .header__title--action {
            }
        }
    }
}
/* End Wrapper*/

/*Begin Section About*/
.about{
    width: 100%;
    margin: auto;
    height: auto;
}
// bắt đầu dựng content
#about{
    margin-top:20px;
    width: 100%;
    height: auto;
    .content__banner{
        width: 100%;
        height: 175px;
        img{
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: 0% 68%;
            position: absolute;
            
        }
        .banner--underground{
            width: 100%;
            height: 175px;
            background-color: black;
            position: absolute;
            opacity: 0.8;
        }
        .banner--title{
            width: 90%;
            margin: auto;
            height: 50%;
            top:25%;
            position: relative;
            text-align: center;
            h1{
                color: white;
                font-size: 36px;
                font-family: $font-playfair;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 15px;
                letter-spacing: 4px;
            }
            a,span{
                text-decoration: none;
                color: $color-white;
                font-size: 16px ;
                font-family: $font-pop;
                font-style: normal;
            }

            a:hover{
                color: $color-cam;
            }
        }
    }
    .wrap{
        width: 100%;
        position: relative;
        .ar1{
            width: 81%;
            margin: auto;
            margin-top: 60px;
            display: flex;
            .goal-one{
                // margin-left: 145px;
                .goal-title{
                    font-size: 40px;
                    color: $color-cam;
                    font-family: $font-playfair;
                    font-weight: 500;
                    letter-spacing: 0em;
                    margin: 0 0 50px;
                    line-height: 1.5;
                }
                .goal-des{
                    font-size: 16px;
                    margin: 0 0 15px;
                }
                .comment{
                    margin-top: 60px;
                    position: relative;
                    .comment-des{
                        font-style: italic;
                        padding-left: 35px;
                        border-left:4px solid $color-cam;
                        margin-bottom: 15px;
                    }
                    .comment-author{
                        color: $color-cam;
                        font-style: normal;
                        display: inline-block;
                        font-weight: normal;
                        position: relative;
                        text-align: right;
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
            .image{
                width: 545px;
                // margin-right: 145px;
                margin-left: 80px;
                img{
                    width: 545px;
                    height: 545px;
                    
                }
                
            }
    
    
        }
        .ar2{
            width: 100%;
            height: 650px;
            margin-top: 60px;
            position: relative;


            .goal-two{
                width: 100%;
                height: 650px;
                position: absolute;

                img{
                    width: 100%;
                    height: 650px;
                    object-fit: cover;
                    object-position: 0 55%;
                    z-index: 1;
                }
            }
            .bgr{
                position: absolute;
                width: 100%;
                height: 650px;
                background-color: #373737;
                opacity: 0.1;
                z-index:2;


            }
            .content{
                width: 90%;
                margin:auto;
                height: 650px;
                display:flex;
                z-index: 3;
                position: relative;
                align-items: center;
                .content__left{
                    width: 44%;
                    margin-right: 6%;
                    h2{
                        color: #fc846b;
                        font-size: 40px;
                        font-family: $font-playfair;
                        margin: 0px 0px 30px;
                        
                    }
                    .content__left--des{
                        color: $color-white;
                        margin: 0px 0px 15px;
                    }
                    .btn{
                        margin:40px 0px 0px;
                        background-color: $color-cam;
                        color: $color-white;
                    }

                }
                .content__right{
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;
                    color: $color-white;
                    margin-top: 50px;
                    
                    .include{
                        width: 50%;
                        padding: 0 30px;
                        margin-bottom: 52px;
                        display: inline-block;
                        span{
                            display: inline;
                            i{
                                display: inline;
                                color: $color-cam;
                                margin-right: 5px;
                            }
                        }
                        h3{
                            display: inline;
                            font-family: $font-playfair;
                            font-size: 24px;
                            
                        }
                        p{
                            margin-top: 42px;
                        }
                    }
                }
            }


        }
        .ar3{
            width: 81%;
            height: 860px;
            
            margin-top: 60px;
            position: relative;
            .ar3__left--item1{
                width: 50%;
                position: absolute;
                left: 145px;
                img{
                    width: 100%;
                }
            }
            .ar3__right--item1{
                width: 40%;
                position: relative;
                padding: 35px;
                background-color: $color-white;
                left: 675px;
                top: 125px;
                box-shadow: 25px 25px 15px #ebeaea;
                p{
                    color: #373737;
                    margin-bottom: 20px;
                }
                strong{
                    color: $color-cam;
                }
            }

            .ar3__left--item2{
                width: 50%;
                position: absolute;
                left: 760px;
                top:430px;
                img{
                    width: 100%;
                    height: 369px;
                    object-fit: cover;
                    object-position: 0 20%;
                }
            }
            .ar3__right--item2{
                width: 40%;
                position: relative;
                padding: 35px;
                background-color: $color-white;
                left: 330px;
                top: 340px;
                box-shadow: -25px 25px 15px #ebeaea;
                p{
                    color: #373737;
                    margin-bottom: 20px;
                }
                strong{
                    color: $color-cam;
                }
            }
        }
        .ar4{
            width: 100%;
            height: 615px;
            background-color: black;
            text-align: center;
            position: relative;
            hr{
                margin: auto;
                top: 60px;
                position: relative;
            }
            h2{
                position: relative;
                top: 60px;
                color: $color-cam;
                font-family: $font-playfair;
                font-size: 40px;
                padding-top:30px;
                margin-bottom: 30px;
                font-weight: 500;
            }
            .customer{
                width: 90%;
                margin: auto;
                position: relative;
                top:150px;
                display: flex;
                .com{
                    padding:0 20px;
                    p{
                        color: white;
                        text-align: left;
                    }
                    #not{
                        position: relative;
                        top:30px;
                        border: .5px solid white;
                        background-color: white;
                        width: 100%;
                        
                    }
                    .com2{
                        display: flex;
                        margin-top: 60px;
                        justify-content: center;
                        
                        img{
                            width: 60px;
                            border-radius: 100%;
                        }
                        .detail{
                            margin-left: 20px;
                            text-align: left;
                            width: 100px;
                            h5{
                                font-family: $font-playfair;
                                margin-bottom: 5px;
                                color: $color-cam;
                                font-size: 18px;
                                font-weight: 500;
                            }
                            
                        }
                    }
                }

            }
        }
        .ar5{
            width: 100%;
            #not3{
                margin: auto;
                margin-top: 60px;
            }
            h2{
                text-align: center;
                margin-top: 60px;
                margin-bottom: 60px;
                font-family: $font-playfair;
                font-size: 40px;
                color: $color-cam;
                font-weight: 500;
            }
            .wrap{
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: center;
                .team{
                    width: 25%;
                    text-align: center;
                   h5{
                       font-family: $font-playfair;
                       font-weight: 500;
                       color: $color-cam;
                       font-size: 18px;
                       padding: 10px 0px;
                   }
                   p{
                       padding-bottom: 10px;
                   }
                    img{
                        width:100%;
                        padding: 0px 20px;
                    }
                }
            }
        }
    }

}
/*End Section About*/

/*Begin Footer*/
.wrapper7{
    width: 100%;
    position: relative;
    height: 536px;
    margin-top: 150px;
    .footer{
        width: 100%;
        height: 536px;
        #note{
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }
        
        .opacity{
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo{
            position: relative;
            width: 10%;
            margin: auto;
            top:85px;
        }
        .footer--slogan{
            position:relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: 'Playfair Display', serif;
            h2{
                font-size: 24px;
            }
        }
        .search{
            position: relative;
            top:170px;
            width: 45%;
            background-color: white;
            margin:auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            .input{
                position: relative;
                width: 450px;
                left: 15px;
                border:0;
                padding: 12px 15px;
            }
            .input{
                border-color: white;
            }
            .input:focus{
                border: none;
            }
            .submit{
                position: relative;
                width: 183px; 
                left: 41px;
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
            }
            .submit:hover{
                background-color: black;
                color:#fc846b;
                transition: transform .5s;
            }


        }
        .bylogin{
            position: relative;
            width: 90%;
            margin: auto;
            top:200px;
            text-align: center;
            
            i{
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
            
        }
        .footer-contact{
            position: relative;
            width: 90%;
            margin: auto;
            top:250px;
            text-align: center;
            li{
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: 'Poppins', sans-serif;
                font-size: 17px;
                .note2{
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }

            }
        }
    }

}
/*End Footer*/
