@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  padding: 12px 50px;
  background-color: #373737;
  color: #fc846b;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.btn-rouded {
  border-radius: 60px;
}

.btn-shopnow {
  width: 220px;
  height: 55px;
  font-size: 15px;
  margin-top: 20px;
  transition: transform .5s;
}

.btn-shopnow:hover {
  background-color: #fc846b;
  color: white;
  transform: scale(1.2);
}

hr {
  width: 90px;
  border: 1px solid #fc846b;
  background-color: #fc846b;
}

body {
  position: relative;
}

/* Begin Wrapper*/
.wrapper {
  width: 100%;
  height: 800px;
}
.wrapper .background {
  width: 100%;
  height: 794px;
  position: absolute;
}
.wrapper .header {
  position: relative;
  width: 100%;
  padding: 18px 0;
}
.wrapper .header .header__nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
}
.wrapper .header .header__nav .header__left {
  display: flex;
  width: 1100px;
}
.wrapper .header .header__nav .header__left .header__left--logo {
  width: 200px;
  cursor: pointer;
}
.wrapper .header .header__nav .header__left .header__left--logo img {
  width: 160px;
}
.wrapper .header .header__nav .header__left .header__left--menu {
  width: 500px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .header__nav .header__left .header__left--menu ul .menu-item {
  margin-left: 25px;
  padding: 0 25px;
  cursor: pointer;
}
.wrapper .header .header__nav .header__left .header__left--menu ul a {
  font-size: 20px;
  color: black;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.wrapper .header .header__nav .header__left .header__left--menu ul .active {
  color: #fc846b;
  transform: .5s;
}
.wrapper .header .header__nav .header__left .header__left--menu ul a:hover {
  color: #fc846b;
  text-decoration: none;
}
.wrapper .header .header__nav .header__right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .header__nav .header__right img {
  width: 10%;
  margin-left: 102px;
  margin-right: 5px;
}
.wrapper .header .header__nav .header__right p {
  margin-right: -13px;
  margin-bottom: 0;
  color: black;
}
.wrapper .header .header__title {
  position: relative;
  margin-top: 250px;
  width: 610px;
  margin-left: 90px;
}
.wrapper .header .header__title .header__title--name {
  width: 100%;
}
.wrapper .header .header__title .header__title--name h3 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: #2e2e2e;
}
.wrapper .header .header__title .header__title--slogan {
  width: 100%;
}
.wrapper .header .header__title .header__title--slogan h2 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 18px;
  font-weight: bold;
  color: #fc846b;
}
.wrapper .header .header__title .header__title--des {
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0px 20px;
  color: #2e2e2e;
}

/* End Wrapper*/
/*Danh Mục Sản Phẩm*/
.blog {
  width: 100%;
  margin: auto;
  height: auto;
}

#blog {
  top: 20px;
  width: 100%;
  height: auto;
}
#blog .content__banner {
  width: 100%;
  height: 175px;
}
#blog .content__banner img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 0% 68%;
  position: absolute;
}
#blog .content__banner .banner--underground {
  width: 100%;
  height: 175px;
  background-color: black;
  position: absolute;
  opacity: 0.8;
}
#blog .content__banner .banner--title {
  width: 90%;
  margin: auto;
  height: 50%;
  top: 25%;
  position: relative;
  text-align: center;
}
#blog .content__banner .banner--title h1 {
  color: white;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 4px;
}
#blog .content__banner .banner--title a, #blog .content__banner .banner--title span {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
#blog .content__banner .banner--title a:hover {
  color: #fc846b;
}
#blog .content__main {
  width: 94%;
  margin: auto;
  margin-top: 50px;
  display: flex;
}
#blog .content__main .content__main--aside {
  width: 22%;
  height: auto;
  margin-right: 3%;
}
#blog .content__main .content__main--aside .aside {
  width: 100%;
}
#blog .content__main .content__main--aside .aside .aside__category {
  width: 100%;
  margin-top: 55px;
}
#blog .content__main .content__main--aside .aside .aside__category h4 {
  color: black;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #757474;
}
#blog .content__main .content__main--aside .aside .aside__category .menu-category .menu-item {
  display: flex;
  padding: 6px 0;
}
#blog .content__main .content__main--aside .aside .aside__category .menu-category .menu-item a {
  width: 95%;
  color: black;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#blog .content__main .content__main--aside .aside .aside__category .menu-category .menu-item a:hover {
  color: #fc846b;
}
#blog .content__main .content__main--aside .aside .aside__category .menu-category .menu-item span {
  width: 5%;
  font-size: 12px;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal {
  width: 100%;
  margin-top: 25px;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal h4 {
  color: black;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #757474;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal img {
  width: 100%;
  height: 226.363px;
  margin: auto;
  box-sizing: initial;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item {
  width: 100%;
  height: auto;
  padding: 0 15px 20px;
  text-align: center;
  margin-top: 25px;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item ul {
  width: 100%;
  padding: 9px 0px;
  text-align: center;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item ul li {
  display: inline-block;
  width: 11px;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item ul li i {
  font-size: 12px;
  color: #252525;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item a .seller {
  text-align: center;
  font-weight: 400;
  border: none;
  color: #fc846b;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item a .seller:hover {
  color: black;
}
#blog .content__main .content__main--aside .aside .aside__hotdeal .item p {
  margin-top: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#blog .content__main .content__main--aside .aside .aside__recent {
  width: 100%;
  margin-top: 30px;
}
#blog .content__main .content__main--aside .aside .aside__recent #titrecent {
  color: black;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #757474;
}
#blog .content__main .content__main--aside .aside .aside__recent .item {
  display: flex;
  justify-content: space;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}
#blog .content__main .content__main--aside .aside .aside__recent .item img {
  width: 95px;
  height: 70px;
  margin-right: 20px;
}
#blog .content__main .content__main--aside .aside .aside__recent .item .description h5 {
  margin-bottom: 5px;
  color: #fc846b;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 0em;
  margin: 0 0 5px;
  line-height: 1.5;
  font-size: 16px;
}
#blog .content__main .content__main--aside .aside .aside__recent .item .description p {
  color: #373737;
  letter-spacing: 0em;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
#blog .content__main .content__main--aside .aside .aside__recent .line-bottomsell {
  width: 100%;
  border: 0.2px dashed #d8d8d8;
  background-color: white;
}
#blog .content__main .content__main--blogitem {
  width: 75%;
}
#blog .content__main .content__main--blogitem .blog__more {
  position: relative;
  width: 100%;
  top: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 40px;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--image {
  position: relative;
  width: 512px;
  height: 379px;
  cursor: pointer;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--image img {
  width: 512px;
  height: 379px;
  border-radius: 25px;
  object-fit: cover;
  object-position: 0% 40%;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 379px;
  width: 100%;
  opacity: 0;
  border-radius: 25px;
  transition: .5s ease;
  background: #fc846b;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--image:hover .overlay {
  opacity: 0.7;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--title {
  margin-top: 20px;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--title a {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: black;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--title a:hover {
  text-decoration: none;
  color: #fc846b;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--datepost {
  padding: 15px 0px;
  color: #979797;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .blog__view--des {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
#blog .content__main .content__main--blogitem .blog__more .blog__view .readmore {
  font-size: 14px;
  width: 137px;
  padding: 16px 10px;
  position: relative;
}
#blog .content__main .content__main--blogitem .pagination {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 66px;
}
#blog .content__main .content__main--blogitem .pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #373737;
  margin-right: 5px;
  color: #fc846b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 38.4px;
}
#blog .content__main .content__main--blogitem .pagination a i {
  display: inline;
}
#blog .content__main .content__main--blogitem .pagination a.active {
  background-color: #fc846b;
  color: #fff;
}
#blog .content__main .content__main--blogitem .pagination a:hover {
  background-color: #fc846b;
  color: #fff;
}

/*Begin Footer*/
.wrapper7 {
  width: 100%;
  position: relative;
  height: 536px;
  margin-top: 150px;
}
.wrapper7 .footer {
  width: 100%;
  height: 536px;
}
.wrapper7 .footer #note {
  position: absolute;
  width: 100%;
  height: 536px;
  object-fit: cover;
  object-position: 0% 63%;
}
.wrapper7 .footer .opacity {
  position: absolute;
  width: 100%;
  height: 536px;
  background-color: #373737;
  opacity: 0.3;
}
.wrapper7 .footer .footer__logo {
  position: relative;
  width: 10%;
  margin: auto;
  top: 85px;
}
.wrapper7 .footer .footer--slogan {
  position: relative;
  text-align: center;
  top: 125px;
  color: white;
  font-family: 'Playfair Display', serif;
}
.wrapper7 .footer .footer--slogan h2 {
  font-size: 24px;
}
.wrapper7 .footer .search {
  position: relative;
  top: 170px;
  width: 45%;
  background-color: white;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  display: flex;
}
.wrapper7 .footer .search .input {
  position: relative;
  width: 450px;
  left: 15px;
  border: 0;
  padding: 12px 15px;
}
.wrapper7 .footer .search .input {
  border-color: white;
}
.wrapper7 .footer .search .input:focus {
  border: none;
}
.wrapper7 .footer .search .submit {
  position: relative;
  width: 183px;
  left: 41px;
  border-radius: 30px;
  background-color: #fc846b;
  color: white;
  border: 0;
  font-weight: 600;
}
.wrapper7 .footer .search .submit:hover {
  background-color: black;
  color: #fc846b;
  transition: transform .5s;
}
.wrapper7 .footer .bylogin {
  position: relative;
  width: 90%;
  margin: auto;
  top: 200px;
  text-align: center;
}
.wrapper7 .footer .bylogin i {
  display: inline-block;
  color: #fc846b;
  width: 60px;
  height: 60px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.wrapper7 .footer .footer-contact {
  position: relative;
  width: 90%;
  margin: auto;
  top: 250px;
  text-align: center;
}
.wrapper7 .footer .footer-contact li {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.wrapper7 .footer .footer-contact li .note2 {
  border-right: 1px;
  border-left: 1px;
  border-color: white;
  border-style: solid;
}

/*End Footer*/

/*# sourceMappingURL=blog.css.map */
