@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  padding: 12px 50px;
  background-color: #373737;
  color: #fc846b;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
}

.btn-rouded {
  border-radius: 60px;
}

.btn-shopnow {
  width: 220px;
  height: 55px;
  font-size: 20px;
  margin-top: 20px;
  transition: transform 0.5s;
}

.btn-shopnow:hover {
  background-color: #fc846b;
  color: white;
  transform: scale(1.2);
}

hr {
  width: 90px;
  border: 1px solid #fc846b;
  background-color: #fc846b;
}

body {
  position: relative;
}

/* Begin Wrapper*/
.wrapper {
  width: 100%;
  height: 1004px;
}
.wrapper .background {
  width: 100%;
  height: 794px;
  position: absolute;
}
.wrapper .header {
  position: relative;
  width: 100%;
}
.wrapper .header .header__nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
}
.wrapper .header .header__nav .header__left {
  display: flex;
  width: 1100px;
}
.wrapper .header .header__nav .header__left .header__left--logo {
  width: 200px;
  cursor: pointer;
}
.wrapper .header .header__nav .header__left .header__left--logo img {
  width: 170px;
}
.wrapper .header .header__nav .header__left .header__left--menu {
  width: 800px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item {
  margin-left: 25px;
  padding: 18px 55px;
  cursor: pointer;
  position: relative;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .parentLink {
  font-size: 20px;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .sub-menu {
  display: none;
  position: absolute;
  margin-top: 50px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .sub-menu .sub-menuItem .subLink {
  font-weight: normal;
  color: #373737;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .sub-menu .sub-menuItem .subLink:hover {
  color: #fc846b;
  transition: color 0.5s;
  text-decoration: none;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .sub-menu #line-subMenu {
  border: 0.5px solid #e9e9e9;
  width: 200px;
  margin: auto;
  margin-left: -1px;
  margin: 5px 0;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item:hover .sub-menu {
  display: block;
  width: 250px;
  background-color: #fff;
  border: 1px solid #9e9e9e;
  padding: 10px 12px 10px 12px;
  font-weight: normal;
  margin-top: 10px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .active {
  color: #fc846b;
  transform: 0.5s;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .parentLink:hover {
  color: #fc846b;
  text-decoration: none;
  transition: color 0.2s;
}
.wrapper .header .header__nav .header__right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .header__nav .header__right img {
  width: 10%;
  margin-left: 102px;
  margin-right: 5px;
}
.wrapper .header .header__nav .header__right p {
  margin-right: -13px;
  margin-bottom: 0;
  color: black;
}
.wrapper .header .header__nav .header__right i {
  font-size: 22px;
  padding: 0 5px;
}
.wrapper .header .header__title {
  position: relative;
  margin-top: 135px;
  width: 610px;
  margin-left: 90px;
}
.wrapper .header .header__title .header__title--name {
  width: 100%;
}
.wrapper .header .header__title .header__title--name h3 {
  font-size: 24px;
  font-family: "Poppins";
  color: #2e2e2e;
}
.wrapper .header .header__title .header__title--slogan {
  width: 100%;
}
.wrapper .header .header__title .header__title--slogan h2 {
  font-size: 72px;
  font-family: "Playfair Display";
  margin-bottom: 18px;
  font-weight: 500;
  color: #fc846b;
}
.wrapper .header .header__title .header__title--des {
  width: 100%;
  font-size: 18px;
  font-family: "Poppins";
  margin: 10px 0px 20px;
  color: #2e2e2e;
}

/* End Wrapper*/
/*Begin Section About*/
.service {
  width: 100%;
  margin: auto;
  height: auto;
}

#service {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
#service .content__banner {
  width: 100%;
  height: 175px;
}
#service .content__banner img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 0% 68%;
  position: absolute;
}
#service .content__banner .banner--underground {
  width: 100%;
  height: 175px;
  background-color: black;
  position: absolute;
  opacity: 0.8;
}
#service .content__banner .banner--title {
  width: 90%;
  margin: auto;
  height: 50%;
  top: 25%;
  position: relative;
  text-align: center;
}
#service .content__banner .banner--title h1 {
  color: white;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 4px;
}
#service .content__banner .banner--title a, #service .content__banner .banner--title span {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
#service .content__banner .banner--title a:hover {
  color: #fc846b;
}

/*End Section About*/
/*Begin Footer*/
.wrapper7 {
  width: 100%;
  position: relative;
  height: 536px;
  margin-top: 150px;
}
.wrapper7 .footer {
  width: 100%;
  height: 536px;
}
.wrapper7 .footer #note {
  position: absolute;
  width: 100%;
  height: 536px;
  object-fit: cover;
  object-position: 0% 63%;
}
.wrapper7 .footer .opacity {
  position: absolute;
  width: 100%;
  height: 536px;
  background-color: #373737;
  opacity: 0.3;
}
.wrapper7 .footer .footer__logo {
  position: relative;
  width: 10%;
  margin: auto;
  top: 85px;
}
.wrapper7 .footer .footer--slogan {
  position: relative;
  text-align: center;
  top: 125px;
  color: white;
  font-family: 'Playfair Display', serif;
}
.wrapper7 .footer .footer--slogan h2 {
  font-size: 24px;
}
.wrapper7 .footer .search {
  position: relative;
  top: 170px;
  width: 45%;
  background-color: white;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  display: flex;
}
.wrapper7 .footer .search .input {
  position: relative;
  width: 450px;
  left: 15px;
  border: 0;
  padding: 12px 15px;
}
.wrapper7 .footer .search .input {
  border-color: white;
}
.wrapper7 .footer .search .input:focus {
  border: none;
}
.wrapper7 .footer .search .submit {
  position: relative;
  width: 183px;
  left: 41px;
  border-radius: 30px;
  background-color: #fc846b;
  color: white;
  border: 0;
  font-weight: 600;
}
.wrapper7 .footer .search .submit:hover {
  background-color: black;
  color: #fc846b;
  transition: transform .5s;
}
.wrapper7 .footer .bylogin {
  position: relative;
  width: 90%;
  margin: auto;
  top: 200px;
  text-align: center;
}
.wrapper7 .footer .bylogin i {
  display: inline-block;
  color: #fc846b;
  width: 60px;
  height: 60px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.wrapper7 .footer .footer-contact {
  position: relative;
  width: 90%;
  margin: auto;
  top: 250px;
  text-align: center;
}
.wrapper7 .footer .footer-contact li {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.wrapper7 .footer .footer-contact li .note2 {
  border-right: 1px;
  border-left: 1px;
  border-color: white;
  border-style: solid;
}

/*End Footer*/

/*# sourceMappingURL=contact.css.map */
