@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$color-cam: #fc846b;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$font-playfair: "Playfair Display", serif;
$font-playfair-noSan: "Playfair Display";
$font-pop: "Poppins", sans-serif;
$font-pop-noSan: "Poppins";
$font-roboto: "Roboto", sans-serif;
$font-playupdate: "Playfair Display SC", serif;

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    display: inline-block;
    outline: 0;
    border: 0;
    padding: 12px 50px;
    background-color: #373737;
    color: #fc846b;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-pop-noSan;
    font-weight: bold;
    cursor: pointer;
}
.btn-rouded {
    border-radius: 60px;
}
.btn-shopnow {
    width: 220px;
    height: 55px;
    font-size: 20px;
    margin-top: 20px;
    transition: transform 0.5s;
}
.btn-shopnow:hover {
    background-color: #fc846b;
    color: white;
    // -ms-transform: scale(1.5); /* IE 9 */
    // -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}
hr {
    width: 90px;
    border: 1px solid #fc846b;
    background-color: #fc846b;
}
body {
    position: relative;
}

/* Begin Wrapper*/
.wrapper {
    width: 100%;
    height: 800px;

    .background {
        width: 100%;
        height: 790px;
        position: absolute;
    }
    .header {
        position: relative;
        width: 100%;
        // padding : 18px 0;

        .header__nav {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 20px 0;

            .header__left {
                display: flex;
                width: 800px;
                .header__left--logo {
                    width: 150px;
                    cursor: pointer;
                    img {
                        width: 150px;
                    }
                }
                .header__left--menu {
                    width: 450px;
                    margin-left: 50px;
                    ul.menu-list {
                        width: 450px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .active {
                            color: #fc846b;
                            transform: 0.5s;
                        }
                        .menu-item {
                            display: inline;
                            padding: 18px 25px;
                            cursor: pointer;
                            position: relative;
                            font-size: 16px;
                            font-family: $font-pop;
                            

                            .parentLink {
                                font-size: 18px;
                                color: #2e2e2e;
                                font-weight: bold;
                                font-family: $font-pop;
                                
                            }
                            .parentLink:hover {
                                color: #fc846b;
                                text-decoration: none;
                                transition: color 0.2s;
                            }
                            &>.sub-menu{
                                width: 170px;
                                position: absolute;
                                background-color: #ffd9d9;
                                display: none;
                                li{
                                    padding : 8px 15px;
                                    &:hover{
                                        background-color: $color-cam;
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    color: #333;
                                    font-size: 14px;
                                    font-family: $font-pop;
                                }
                                hr{
                                    width: 169px;
                                    margin: 0;
                                }
                            
                            }
                            &:hover > .sub-menu{
                                display: block;
                            }
                        }
                    }
    
                }
            }
            .header__right {
                width: 300px;
                display: flex;

                justify-content: space-between;
                align-items: center;
                img {
                    width: 10%;
                    margin-left: 102px;
                    margin-right: 5px;
                }
                p {
                    margin-right: -13px;
                    margin-bottom: 0;
                    color: rgb(0, 0, 0);
                }
                i {
                    font-size: 22px;
                    padding: 0 5px;
                }
            }
        }
        .header__title {
            position: relative;
            margin-top: 135px;
            width: 610px;
            margin-left: 90px;
            .header__title--name {
                width: 100%;
                h3 {
                    font-size: 22px;
                    font-family: $font-pop-noSan;
                    color: rgb(46, 46, 46);
                }
            }
            .header__title--slogan {
                width: 80%;

                h2 {
                    font-size: 40px;
                    font-family: $font-playfair-noSan;
                    margin-bottom: 18px;
                    font-weight: 600;
                    color: #f87a61;
                }
            }
            .header__title--des {
                width: 95%;
                font-size: 16px;
                font-family: $font-pop-noSan;
                margin: 10px 0px 20px;
                color: rgb(46, 46, 46);
            }
            .header__title--action {
            }
        }
    }
}
/* End Wrapper*/

/* Begin Wrapper2*/

.wrapper2 {
    position: relative;
    width: 100%;

    .section {
        width: 100%;
        .section__1 {
            width: 90%;
            display: flex;
            justify-content: center;
            margin: auto;

            .section--image {
                width: 50%;
                #pro-section-1{
                    width: 100%;
                }           
                transform: rotate(40deg);
            }
            .section__detail {
                display: flex; /* Important */
                flex-direction: column;
                margin-top: auto;
                margin-bottom: auto;
                width: 50%;
                margin-left: 130px;
                .section__deatil--name {
                        color: black;
                        font-size: 24px;
                        font-family: $font-pop-noSan;
                        font-weight: 500;
                        margin-bottom: 30px;
                    
                    &:after {
                        background: #fc846b;
                        content: "";
                        display: inline-block;
                        width: 60px;
                        height: 2px;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                .section__detail--title {
                    font-size: 40px;
                    font-family: $font-playfair-noSan;
                    color: #fc846b;
                    margin-bottom: 30px;
                    font-weight: 600;
                }
                .section__detail--des {
                    display: inline-block;
                    width: 515px;
                    color: black;
                    font-size: 18px;
                    font-family: $font-pop;
                    margin-bottom: 35px;
                    font-weight: normal;
                    line-height: 1.7;
                }
            }
        }
        .section__2 {
            width: 90%;
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 90px;

            .section--image {
                width: 50%;

                //transform: rotate(27deg);
            }
            .section__detail {
                display: flex; /* Important */
                flex-direction: column;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 100px;
                width: 50%;
                .section__deatil--name {
                        color: black;
                        font-size: 24px;
                        font-family: $font-pop-noSan;
                        font-weight: 500;
                        margin-bottom: 30px;

                    &:after {
                        background: #fc846b;
                        content: "";
                        display: inline-block;
                        width: 60px;
                        height: 2px;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                .section__detail--title {
                    font-size: 40px;
                    font-family: $font-playfair-noSan;
                    color: #fc846b;
                    margin-bottom: 30px;
                    font-weight: 600;
                }
                .section__detail--des {
                    display: inline-block;
                    width: 515px;
                    color: black;
                    font-size: 18px;
                    font-family: $font-pop;
                    margin-bottom: 35px;
                    font-weight: normal;
                    line-height: 1.7;
                }
            }
        }
    }
}
/* End Wrapper2*/

/*Begin wrapper3*/
.wrapper3 {
    width: 100%;
    background-color: #fc846b;
    .introduce {
        width: 100%;
        display: flex;
        height: 750px;
        .introduce__left {
            width: 50%;
            img {
                width: 583px;
                height: 737px;
                object-fit: cover;
                object-position: 41% 33%;
                border: 0;
                border-radius: 72px;
                margin-top: -7px;
                margin-left: 125px;
            }
        }
        .introduce__right {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 130px;
            padding-left: 30px;
            h2 {
                color: white;
                font-size: 24px;
                font-family: $font-pop-noSan;
                margin-bottom: 3px;
                font-weight: bold;
            }
            h2:after {
                background: $color-white;
                content: "";
                display: inline-block;
                width: 50px;
                height: 1px;
                vertical-align: middle;
                margin-left: 10px;
            }
            h3 {
                color: $color-black;
                font-size: 40px;
                font-family: $font-playfair-noSan;
                margin-top: 15px;
                text-transform: inherit;
                font-weight: bold;
                line-height: 1.5;
            }
            .introduce__right--ex {
                
                
                margin-top: 35px;
                i {
                    display: inline;
                    float: left;
                    color: white;
                    width: 30px;
                    font-size: 30px;
                    line-height: 53px;
   
                }
                h4 {
                    width: 500px;
                    float: left;
                    color: white;
                    padding-left: 15px;
                    font-size: 30px;
                    font-family: $font-pop-noSan;
                    font-weight: normal;
                    line-height: 1.5;
                    margin-top: 3px;
                    margin-left: 10px;
                }
            }
            .btn-rip {
                margin-top: 45px;
                background-color: #373737;
            }
            .btn-rip:hover {
                background-color: aliceblue;
                color: black;
                font-weight: bold;
            }
        }
    }
}
/*End wrapper3*/

/*Begin wrapper4*/
.wrapper4 {
    width: 100%;
    img {
        position: absolute;
    }
    .square-image {
        position: absolute;
        width: 250px;
        height: 250px;
        background-color: #fc846b;
        margin-top: 178px;
        margin-left: 72px;
        opacity: 0.1;
        transform: rotate(65deg);
        border-radius: 50px;
    }
    .manage {
        position: relative;
        width: 90%;
        margin: 0 auto;
        display: flex;

        .manage__left {
            width: 550px;
            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                object-position: 41% 0%;
                border: 0;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                margin-top: 250px;
                margin-left: 35px;
            }
        }
        .manage__right {
            width: 800px;
            margin-top: 40px;
            hr {
                width: 90px;
                border: 1px solid #fc846b;
                background-color: #fc846b;
            }
            .mange__right--name {
                h2 {
                    font-size: 24px;
                    font-family: $font-pop-noSan;
                    margin:0 0 20px;
                    color: #373737;
                    font-weight: 700;
                    padding: 25px 0px 0px;
                }
            }
            .manage__right--title {
                h3 {
                    font-size: 40px;
                    font-family: $font-playfair-noSan;
                    color: #fc846b;
                    padding: 20px 0px;
                }
            }
            .manage__right--des {
                p {
                    font-size: 18px;
                    font-family: $font-pop-noSan;
                    margin-top: 20px;
                    padding: 20px 0px;
                }
            }
            .manage__right--author {
                h3 {
                    font-size: 24px;
                    font-family: $font-playfair-noSan;
                    color: #373737;
                    padding: 20px 0px;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
            .manage__right--note {
                p {
                    font-size: 18px;
                    font-family: $font-pop-noSan;
                    color: #373737;
                    padding: 10px 0px;
                }
            }
        }
    }
    .pagination {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 135px;
        a {
            width: 15px;
            height: 15px;
            background-color: #eedad5;

            margin: 0 4px;
        }
        .active {
            background-color: #fc846b;
        }
    }
}
/*End wrapper4*/

/*Begin wrapper5*/
.wrapper5 {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 30px;
    img {
        position: absolute;
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: 0% 54%;
    }
    .banner__title {
        width: 100%;
        position: absolute;
        color: #fc846b;
        font-size: 40px;
        font-family: $font-playfair-noSan;
        font-weight: bold;
        text-align: center;
        margin-top: 170px;
    }
    .banner__des {
        position: absolute;
        width: 100%;
        font-size: 20px;
        color: $color-black;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        text-align: center;
        margin-top: 282px;
    }
    .banner__video {
        width: 100%;
        position: absolute;
        margin-top: 450px;
        display: flex;
        justify-content: center;
        // #video{
        //     position: absolute;
        //     max-width: 60% !important;
        //     margin: 0 auto;
        // }
        .playvideo {
            width: 250px;
            border-radius: 40px;
        }

        .mfp-hide {
            display: none !important;
        }
        .playvideo:hover,
        .playvideo:focus {
            background: transparent;
            color: black;
            font-weight: bold;
            background: #fc846b;
        }
    }
}
/*End wrapper5*/

/*Begin wrapper6*/
.wrapper6 {
    width: 100%;
    position: relative;
    margin-top: -15px;
    img {
        position: absolute;
    }

    .blog__title {
        width: 100%;
        position: relative;
        top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        h2 {
            text-align: center;
            font-size: 24px;
            font-family: $font-pop-noSan;
            padding-top: 10px;
            margin-bottom: 20px;
        }
        h3 {
            text-align: center;
            color: #fc846b;
            font-size: 40px;
            font-family: $font-playfair-noSan;
            
        }
    }
    .blog__more {
        position: relative;
        width: 90%;
        top: 80px;

        display: flex;
        margin: 0 auto;
        justify-content: center;
        .blog__view {
            width: 33.3%;
            padding: 0 20px;

            .blog__view--image {
                position: relative;
                width: 100%;
                height: 242px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 25px;
                    object-fit: cover;
                    object-position: 0% 40%;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 300px;
                    width: 100%;
                    opacity: 0;
                    border-radius: 25px;
                    transition: 0.5s ease;
                    background: #fc846b;
                }
            }
            .blog__view--image:hover .overlay {
                opacity: 0.9;
            }

            .blog__view--title {
                
                margin-top: 80px;
                a {
                    font-size: 24px;
                    font-family: $font-playfair-noSan;
                    color: black;
                }
                a:hover {
                    text-decoration: none;
                    color: #fc846b;
                }
            }
            .blog__view--datepost {
                padding: 8px 0px;
                color: #979797;
                font-size: 16px;
                font-family: $font-pop-noSan;
            }
            .blog__view--des{
                font-size: 16px;
                font-family: $font-pop-noSan;
            }
            .readmore {
                
                font-size: 14px;
                width: 175px;
                padding: 2px 8px;
                margin-bottom: 150px;
                font-family: $font-pop-noSan;
            }
        }
    }
}
/*End wrapper6*/

/*Begin Footer*/
/* .wrapper7 {
    width: 100%;
    position: relative;
    height: 536px;
    .footer {
        width: 100%;
        height: 536px;
        #note {
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }

        .opacity {
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo {
            position: relative;
            width: 10%;
            margin: auto;
            top: 85px;
        }
        .footer--slogan {
            position: relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: $font-playfair-noSan;
            h2 {
                font-size: 24px;
            }
        }
        .search {
            position: relative;
            top: 170px;
            width: 30%;
            background-color: white;
            margin: auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            .input {
                position: relative;
                width: 450px;
                left: 15px;
                border: 0;
                padding: 12px 15px;
            }
            .input {
                border-color: white;
            }
            .input:focus {
                border: none;
            }
            .submit {
                position: relative;
                width: 183px;
                left: 0px;
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
            }
            .submit:hover {
                background-color: black;
                color: #fc846b;
                transition: transform 0.5s;
            }
        }
        .bylogin {
            position: relative;
            width: 90%;
            margin: auto;
            top: 200px;
            text-align: center;

            i {
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
        }
        .footer-contact {
            position: relative;
            width: 90%;
            margin: auto;
            top: 250px;
            text-align: center;
            li {
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: "Poppins", sans-serif;
                font-size: 17px;
                .note2 {
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }
            }
        }
    }
} */
/*End Footer*/

/*Begin Footer*/
.wrapper7{
    width: 100%;
    position: relative;
    height: 536px;
    .footer{
        width: 100%;
        height: 536px;
        #note{
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }
        
        .opacity{
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo{
            position: relative;
            width: 10%;
            margin: auto;
            top:85px;
        }
        .footer--slogan{
            position:relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: 'Playfair Display', serif;
            h2{
                font-size: 24px;
            }
        }
        .search{
            position: relative;
            top:170px;
            width: 45%;
            background-color: white;
            margin:auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            .input{
                position: relative;
                width: 450px;
                left: 15px;
                border:0;
                padding: 12px 15px;
            }
            .input{
                border-color: white;
            }
            .input:focus{
                border: none;
            }
            .submit{
                position: relative;
                width: 183px; 
                left: 41px;
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
            }
            .submit:hover{
                background-color: black;
                color:#fc846b;
                transition: transform .5s;
            }


        }
        .bylogin{
            position: relative;
            width: 90%;
            margin: auto;
            top:200px;
            text-align: center;
            
            i{
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
            
        }
        .footer-contact{
            position: relative;
            width: 90%;
            margin: auto;
            top:250px;
            text-align: center;
            li{
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: 'Poppins', sans-serif;
                font-size: 17px;
                .note2{
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }

            }
        }
    }

}
/*End Footer*/
