@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  padding: 12px 50px;
  background-color: #373737;
  color: #fc846b;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
}

.btn-rouded {
  border-radius: 60px;
}

.btn-shopnow {
  width: 220px;
  height: 55px;
  font-size: 20px;
  margin-top: 20px;
  transition: transform 0.5s;
}

.btn-shopnow:hover {
  background-color: #fc846b;
  color: white;
  transform: scale(1.2);
}

hr {
  width: 90px;
  border: 1px solid #fc846b;
  background-color: #fc846b;
}

body {
  position: relative;
}

/* Begin Wrapper*/
.wrapper {
  width: 100%;
  height: 800px;
}
.wrapper .background {
  width: 100%;
  height: 790px;
  position: absolute;
}
.wrapper .header {
  position: relative;
  width: 100%;
}
.wrapper .header .header__nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}
.wrapper .header .header__nav .header__left {
  display: flex;
  width: 800px;
}
.wrapper .header .header__nav .header__left .header__left--logo {
  width: 150px;
  cursor: pointer;
}
.wrapper .header .header__nav .header__left .header__left--logo img {
  width: 150px;
}
.wrapper .header .header__nav .header__left .header__left--menu {
  width: 450px;
  margin-left: 50px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .active {
  color: #fc846b;
  transform: 0.5s;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item {
  display: inline;
  padding: 18px 25px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .parentLink {
  font-size: 18px;
  color: #2e2e2e;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item .parentLink:hover {
  color: #fc846b;
  text-decoration: none;
  transition: color 0.2s;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item > .sub-menu {
  width: 170px;
  position: absolute;
  background-color: #ffd9d9;
  display: none;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item > .sub-menu li {
  padding: 8px 15px;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item > .sub-menu li:hover {
  background-color: #fc846b;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item > .sub-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item > .sub-menu hr {
  width: 169px;
  margin: 0;
}
.wrapper .header .header__nav .header__left .header__left--menu ul.menu-list .menu-item:hover > .sub-menu {
  display: block;
}
.wrapper .header .header__nav .header__right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .header .header__nav .header__right img {
  width: 10%;
  margin-left: 102px;
  margin-right: 5px;
}
.wrapper .header .header__nav .header__right p {
  margin-right: -13px;
  margin-bottom: 0;
  color: black;
}
.wrapper .header .header__nav .header__right i {
  font-size: 22px;
  padding: 0 5px;
}
.wrapper .header .header__title {
  position: relative;
  margin-top: 135px;
  width: 610px;
  margin-left: 90px;
}
.wrapper .header .header__title .header__title--name {
  width: 100%;
}
.wrapper .header .header__title .header__title--name h3 {
  font-size: 22px;
  font-family: "Poppins";
  color: #2e2e2e;
}
.wrapper .header .header__title .header__title--slogan {
  width: 80%;
}
.wrapper .header .header__title .header__title--slogan h2 {
  font-size: 40px;
  font-family: "Playfair Display";
  margin-bottom: 18px;
  font-weight: 600;
  color: #f87a61;
}
.wrapper .header .header__title .header__title--des {
  width: 95%;
  font-size: 16px;
  font-family: "Poppins";
  margin: 10px 0px 20px;
  color: #2e2e2e;
}

/* End Wrapper*/
/* Begin Wrapper2*/
.wrapper2 {
  position: relative;
  width: 100%;
}
.wrapper2 .section {
  width: 100%;
}
.wrapper2 .section .section__1 {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.wrapper2 .section .section__1 .section--image {
  width: 50%;
  transform: rotate(40deg);
}
.wrapper2 .section .section__1 .section--image #pro-section-1 {
  width: 100%;
}
.wrapper2 .section .section__1 .section__detail {
  display: flex;
  /* Important */
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  margin-left: 130px;
}
.wrapper2 .section .section__1 .section__detail .section__deatil--name {
  color: black;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 30px;
}
.wrapper2 .section .section__1 .section__detail .section__deatil--name:after {
  background: #fc846b;
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
.wrapper2 .section .section__1 .section__detail .section__detail--title {
  font-size: 40px;
  font-family: "Playfair Display";
  color: #fc846b;
  margin-bottom: 30px;
  font-weight: 600;
}
.wrapper2 .section .section__1 .section__detail .section__detail--des {
  display: inline-block;
  width: 515px;
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  font-weight: normal;
  line-height: 1.7;
}
.wrapper2 .section .section__2 {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 90px;
}
.wrapper2 .section .section__2 .section--image {
  width: 50%;
}
.wrapper2 .section .section__2 .section__detail {
  display: flex;
  /* Important */
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 100px;
  width: 50%;
}
.wrapper2 .section .section__2 .section__detail .section__deatil--name {
  color: black;
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 30px;
}
.wrapper2 .section .section__2 .section__detail .section__deatil--name:after {
  background: #fc846b;
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  vertical-align: middle;
  margin-left: 10px;
}
.wrapper2 .section .section__2 .section__detail .section__detail--title {
  font-size: 40px;
  font-family: "Playfair Display";
  color: #fc846b;
  margin-bottom: 30px;
  font-weight: 600;
}
.wrapper2 .section .section__2 .section__detail .section__detail--des {
  display: inline-block;
  width: 515px;
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  font-weight: normal;
  line-height: 1.7;
}

/* End Wrapper2*/
/*Begin wrapper3*/
.wrapper3 {
  width: 100%;
  background-color: #fc846b;
}
.wrapper3 .introduce {
  width: 100%;
  display: flex;
  height: 750px;
}
.wrapper3 .introduce .introduce__left {
  width: 50%;
}
.wrapper3 .introduce .introduce__left img {
  width: 583px;
  height: 737px;
  object-fit: cover;
  object-position: 41% 33%;
  border: 0;
  border-radius: 72px;
  margin-top: -7px;
  margin-left: 125px;
}
.wrapper3 .introduce .introduce__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding-left: 30px;
}
.wrapper3 .introduce .introduce__right h2 {
  color: white;
  font-size: 24px;
  font-family: "Poppins";
  margin-bottom: 3px;
  font-weight: bold;
}
.wrapper3 .introduce .introduce__right h2:after {
  background: #fff;
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  vertical-align: middle;
  margin-left: 10px;
}
.wrapper3 .introduce .introduce__right h3 {
  color: black;
  font-size: 40px;
  font-family: "Playfair Display";
  margin-top: 15px;
  text-transform: inherit;
  font-weight: bold;
  line-height: 1.5;
}
.wrapper3 .introduce .introduce__right .introduce__right--ex {
  margin-top: 35px;
}
.wrapper3 .introduce .introduce__right .introduce__right--ex i {
  display: inline;
  float: left;
  color: white;
  width: 30px;
  font-size: 30px;
  line-height: 53px;
}
.wrapper3 .introduce .introduce__right .introduce__right--ex h4 {
  width: 500px;
  float: left;
  color: white;
  padding-left: 15px;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: normal;
  line-height: 1.5;
  margin-top: 3px;
  margin-left: 10px;
}
.wrapper3 .introduce .introduce__right .btn-rip {
  margin-top: 45px;
  background-color: #373737;
}
.wrapper3 .introduce .introduce__right .btn-rip:hover {
  background-color: aliceblue;
  color: black;
  font-weight: bold;
}

/*End wrapper3*/
/*Begin wrapper4*/
.wrapper4 {
  width: 100%;
}
.wrapper4 img {
  position: absolute;
}
.wrapper4 .square-image {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #fc846b;
  margin-top: 178px;
  margin-left: 72px;
  opacity: 0.1;
  transform: rotate(65deg);
  border-radius: 50px;
}
.wrapper4 .manage {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.wrapper4 .manage .manage__left {
  width: 550px;
}
.wrapper4 .manage .manage__left img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 41% 0%;
  border: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top: 250px;
  margin-left: 35px;
}
.wrapper4 .manage .manage__right {
  width: 800px;
  margin-top: 40px;
}
.wrapper4 .manage .manage__right hr {
  width: 90px;
  border: 1px solid #fc846b;
  background-color: #fc846b;
}
.wrapper4 .manage .manage__right .mange__right--name h2 {
  font-size: 24px;
  font-family: "Poppins";
  margin: 0 0 20px;
  color: #373737;
  font-weight: 700;
  padding: 25px 0px 0px;
}
.wrapper4 .manage .manage__right .manage__right--title h3 {
  font-size: 40px;
  font-family: "Playfair Display";
  color: #fc846b;
  padding: 20px 0px;
}
.wrapper4 .manage .manage__right .manage__right--des p {
  font-size: 18px;
  font-family: "Poppins";
  margin-top: 20px;
  padding: 20px 0px;
}
.wrapper4 .manage .manage__right .manage__right--author h3 {
  font-size: 24px;
  font-family: "Playfair Display";
  color: #373737;
  padding: 20px 0px;
  margin-top: 20px;
  font-weight: bold;
}
.wrapper4 .manage .manage__right .manage__right--note p {
  font-size: 18px;
  font-family: "Poppins";
  color: #373737;
  padding: 10px 0px;
}
.wrapper4 .pagination {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 135px;
}
.wrapper4 .pagination a {
  width: 15px;
  height: 15px;
  background-color: #eedad5;
  margin: 0 4px;
}
.wrapper4 .pagination .active {
  background-color: #fc846b;
}

/*End wrapper4*/
/*Begin wrapper5*/
.wrapper5 {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 30px;
}
.wrapper5 img {
  position: absolute;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0% 54%;
}
.wrapper5 .banner__title {
  width: 100%;
  position: absolute;
  color: #fc846b;
  font-size: 40px;
  font-family: "Playfair Display";
  font-weight: bold;
  text-align: center;
  margin-top: 170px;
}
.wrapper5 .banner__des {
  position: absolute;
  width: 100%;
  font-size: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 282px;
}
.wrapper5 .banner__video {
  width: 100%;
  position: absolute;
  margin-top: 450px;
  display: flex;
  justify-content: center;
}
.wrapper5 .banner__video .playvideo {
  width: 250px;
  border-radius: 40px;
}
.wrapper5 .banner__video .mfp-hide {
  display: none !important;
}
.wrapper5 .banner__video .playvideo:hover,
.wrapper5 .banner__video .playvideo:focus {
  background: transparent;
  color: black;
  font-weight: bold;
  background: #fc846b;
}

/*End wrapper5*/
/*Begin wrapper6*/
.wrapper6 {
  width: 100%;
  position: relative;
  margin-top: -15px;
}
.wrapper6 img {
  position: absolute;
}
.wrapper6 .blog__title {
  width: 100%;
  position: relative;
  top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}
.wrapper6 .blog__title h2 {
  text-align: center;
  font-size: 24px;
  font-family: "Poppins";
  padding-top: 10px;
  margin-bottom: 20px;
}
.wrapper6 .blog__title h3 {
  text-align: center;
  color: #fc846b;
  font-size: 40px;
  font-family: "Playfair Display";
}
.wrapper6 .blog__more {
  position: relative;
  width: 90%;
  top: 80px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.wrapper6 .blog__more .blog__view {
  width: 33.3%;
  padding: 0 20px;
}
.wrapper6 .blog__more .blog__view .blog__view--image {
  position: relative;
  width: 100%;
  height: 242px;
  cursor: pointer;
}
.wrapper6 .blog__more .blog__view .blog__view--image img {
  width: 100%;
  height: 300px;
  border-radius: 25px;
  object-fit: cover;
  object-position: 0% 40%;
}
.wrapper6 .blog__more .blog__view .blog__view--image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  border-radius: 25px;
  transition: 0.5s ease;
  background: #fc846b;
}
.wrapper6 .blog__more .blog__view .blog__view--image:hover .overlay {
  opacity: 0.9;
}
.wrapper6 .blog__more .blog__view .blog__view--title {
  margin-top: 80px;
}
.wrapper6 .blog__more .blog__view .blog__view--title a {
  font-size: 24px;
  font-family: "Playfair Display";
  color: black;
}
.wrapper6 .blog__more .blog__view .blog__view--title a:hover {
  text-decoration: none;
  color: #fc846b;
}
.wrapper6 .blog__more .blog__view .blog__view--datepost {
  padding: 8px 0px;
  color: #979797;
  font-size: 16px;
  font-family: "Poppins";
}
.wrapper6 .blog__more .blog__view .blog__view--des {
  font-size: 16px;
  font-family: "Poppins";
}
.wrapper6 .blog__more .blog__view .readmore {
  font-size: 14px;
  width: 175px;
  padding: 2px 8px;
  margin-bottom: 150px;
  font-family: "Poppins";
}

/*End wrapper6*/
/*Begin Footer*/
/* .wrapper7 {
    width: 100%;
    position: relative;
    height: 536px;
    .footer {
        width: 100%;
        height: 536px;
        #note {
            position: absolute;
            width: 100%;
            height: 536px;
            object-fit: cover;
            object-position: 0% 63%;
        }

        .opacity {
            position: absolute;
            width: 100%;
            height: 536px;
            background-color: #373737;
            opacity: 0.3;
        }
        .footer__logo {
            position: relative;
            width: 10%;
            margin: auto;
            top: 85px;
        }
        .footer--slogan {
            position: relative;
            text-align: center;
            top: 125px;
            color: white;
            font-family: $font-playfair-noSan;
            h2 {
                font-size: 24px;
            }
        }
        .search {
            position: relative;
            top: 170px;
            width: 30%;
            background-color: white;
            margin: auto;
            padding: 5px;
            border-radius: 30px;
            display: flex;
            .input {
                position: relative;
                width: 450px;
                left: 15px;
                border: 0;
                padding: 12px 15px;
            }
            .input {
                border-color: white;
            }
            .input:focus {
                border: none;
            }
            .submit {
                position: relative;
                width: 183px;
                left: 0px;
                border-radius: 30px;
                background-color: #fc846b;
                color: white;
                border: 0;
                font-weight: 600;
            }
            .submit:hover {
                background-color: black;
                color: #fc846b;
                transition: transform 0.5s;
            }
        }
        .bylogin {
            position: relative;
            width: 90%;
            margin: auto;
            top: 200px;
            text-align: center;

            i {
                display: inline-block;
                color: #fc846b;
                width: 60px;
                height: 60px;
                font-size: 25px;
                text-align: center;
                line-height: 60px;
                cursor: pointer;
            }
        }
        .footer-contact {
            position: relative;
            width: 90%;
            margin: auto;
            top: 250px;
            text-align: center;
            li {
                color: white;
                display: inline-block;
                width: auto;
                height: auto;
                padding: 5px 15px;
                font-family: "Poppins", sans-serif;
                font-size: 17px;
                .note2 {
                    border-right: 1px;
                    border-left: 1px;
                    border-color: white;
                    border-style: solid;
                }
            }
        }
    }
} */
/*End Footer*/
/*Begin Footer*/
.wrapper7 {
  width: 100%;
  position: relative;
  height: 536px;
}
.wrapper7 .footer {
  width: 100%;
  height: 536px;
}
.wrapper7 .footer #note {
  position: absolute;
  width: 100%;
  height: 536px;
  object-fit: cover;
  object-position: 0% 63%;
}
.wrapper7 .footer .opacity {
  position: absolute;
  width: 100%;
  height: 536px;
  background-color: #373737;
  opacity: 0.3;
}
.wrapper7 .footer .footer__logo {
  position: relative;
  width: 10%;
  margin: auto;
  top: 85px;
}
.wrapper7 .footer .footer--slogan {
  position: relative;
  text-align: center;
  top: 125px;
  color: white;
  font-family: 'Playfair Display', serif;
}
.wrapper7 .footer .footer--slogan h2 {
  font-size: 24px;
}
.wrapper7 .footer .search {
  position: relative;
  top: 170px;
  width: 45%;
  background-color: white;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
  display: flex;
}
.wrapper7 .footer .search .input {
  position: relative;
  width: 450px;
  left: 15px;
  border: 0;
  padding: 12px 15px;
}
.wrapper7 .footer .search .input {
  border-color: white;
}
.wrapper7 .footer .search .input:focus {
  border: none;
}
.wrapper7 .footer .search .submit {
  position: relative;
  width: 183px;
  left: 41px;
  border-radius: 30px;
  background-color: #fc846b;
  color: white;
  border: 0;
  font-weight: 600;
}
.wrapper7 .footer .search .submit:hover {
  background-color: black;
  color: #fc846b;
  transition: transform .5s;
}
.wrapper7 .footer .bylogin {
  position: relative;
  width: 90%;
  margin: auto;
  top: 200px;
  text-align: center;
}
.wrapper7 .footer .bylogin i {
  display: inline-block;
  color: #fc846b;
  width: 60px;
  height: 60px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.wrapper7 .footer .footer-contact {
  position: relative;
  width: 90%;
  margin: auto;
  top: 250px;
  text-align: center;
}
.wrapper7 .footer .footer-contact li {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.wrapper7 .footer .footer-contact li .note2 {
  border-right: 1px;
  border-left: 1px;
  border-color: white;
  border-style: solid;
}

/*End Footer*/

/*# sourceMappingURL=style.css.map */
